  
	/* ---------------------------
	             BODY STYLE 
    ----------------------------- */
    
body {
    background-color : #F9F9FB;
    font-family : 'Roboto Condensed', sans-serif;
    font-size : 30px;
    opacity : 1;
    color : #FFFFFF;
    background : url("background.jpeg");
    background-size : cover;
    } 


/* ---------------------------
	        MAIN CONTAINER
	----------------------------- */

#main-container {
    width : 35.5%;
    height : 550px;
    margin : 0 auto;
    margin-top : 250px;
    text-align : center;
    perspective : 1000px;
    } 